include_fragments = true

accept = ["200..=299", "401", "403"]

exclude = [
    # excluding links to user profiles is done for performance
    # because there are a lot of links to user profiles in this repository
    # and GitHub extra throttles access to user profile pages
    "^https://github.com/[^/]+$",
    # this 404s when not hit from a browser
    "^https://www.linuxfoundation.org/legal/generative-ai$",
]

exclude_path = [
    # regular expressions aren't supported: https://github.com/lycheeverse/lychee/issues/1608
    "/home/repo/elections/2019/governance-committee-candidates.md",
    "/home/repo/elections/2019/governance-committee-election.md",
    "/home/repo/elections/2020/governance-committee-candidates.md",
    "/home/repo/elections/2020/governance-committee-election.md",
    "/home/repo/elections/2021/governance-committee-candidates.md",
    "/home/repo/elections/2021/governance-committee-election.md",
    "/home/repo/elections/2022/governance-committee-candidates.md",
    "/home/repo/elections/2022/governance-committee-election.md",
    "/home/repo/elections/2023/governance-committee-candidates.md",
    "/home/repo/elections/2023/governance-committee-election.md",
    "/home/repo/elections/2024/governance-committee-candidates.md",
    "/home/repo/elections/2024/governance-committee-election.md",
]

# better to be safe and avoid failures
max_retries = 6

# this helps slow down the rate of requests to avoid rate limiting
max_concurrency = 4
