timeout = 30
retry_wait_time = 5
max_retries = 6
max_concurrency = 4

# Check link anchors
include_fragments = true

accept = ["200..=299", "401", "403"]

remap = [
  # workaround for https://github.com/lycheeverse/lychee/issues/1729
  'https://github.com/(.*?)/(.*?)/blob/(.*?)/(.*#.*)$ https://raw.githubusercontent.com/$1/$2/$3/$4',
  'https://docs.google.com/(.*)#.*$ https://docs.google.com/$1',
]

exclude = [
    # workaround for https://github.com/lycheeverse/lychee/issues/1729
    '^https://github.com/.*/(pull|issues|commit|compare)/.*#.*$',
    # this page got large and is now progressively loaded, so fails the link check
    # but works in a browser
    "https://github.com/orgs/community/discussions/63402#discussioncomment-10341167",
    # excluding links to user profiles is done for performance
    # because there are a lot of links to user profiles in this repository
    # and GitHub extra throttles access to user profile pages
    "^https://github.com/[^/]+$",
    # this 404s when not hit from a browser
    "^https://www.linuxfoundation.org/legal/generative-ai$",
    # this is a private repo
    "https://github.com/open-telemetry/admin",
    # for performance reasons
    '^https://github.com/open-telemetry/community/(issues|pull)/\d+$',
    'https://gitter.im/open-telemetry/opentelemetry-rust',
    'https://up-for-grabs.net.*'
]

exclude_path = [
    ".*/elections/.*/governance-committee-(candidates|election).md",
]
