name: Build

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run markdown-link-check
        run: make markdown-link-check
        env:
          # see https://lychee.cli.rs/troubleshooting/rate-limits/#github-rate-limiting
          GITHUB_TOKEN: ${{ github.token }}
