name: Spell checking

on:
  pull_request:

jobs:
  spelling-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: streetsidesoftware/cspell-action@v2
        with:
          config: .cspell.yaml