name: Spell checking

on:
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  spelling-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: streetsidesoftware/cspell-action@d5d910b521ad408f1e7383c24609079f5a88bdca # v8.2.0
        with:
          config: .cspell.yaml
